torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
mmcv==1.6.0
argparse
lpips
pytorch_msssim
imageio[ffmpeg]
h5py==3.8.0
matplotlib==3.5.3
natsort==8.4.0
numpy==1.21.6
open3d==0.17.0
opencv_python==4.8.1.78
Pillow==9.5.0
plyfile
scipy==1.7.3
seaborn==0.12.2
setuptools==65.6.3
tqdm==4.66.1
wandb